<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Select city</title>
  <link rel="stylesheet" href="/css/geo.css"></head>
<body>
<h1>Select a location</h1>
<ul>
  <li th:each="loc : ${results}">
    <form method="get" action="/weather">
      <input type="hidden" name="lat" th:value="${loc.lat}">
      <input type="hidden" name="lon" th:value="${loc.lon}">
      <input type="hidden" name="name" th:value="${loc.name}">
      <input type="hidden" name="country" th:value="${loc.country}">
      <button type="submit"
              th:text="${loc.name + ', ' + (loc.state != null ? loc.state + ', ' : '') + loc.country}">
      </button>
    </form>
  </li>
</ul>
</body>
</html>